.job-detail-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    background-color: rgb(0 0 0);
  
  }
  
  .job-detail {
    justify-content: center;
    align-self: flex-start;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    margin-top: 0.25rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
    color: rgb(74 222 128);
    background-color: rgb(0 0 0);
    border-width: 1px;
    border-color: rgb(0 0 0);
    border-style: solid;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    backdrop-filter: blur(2px);
  }
  
  @media not all and (min-width: 768px) {
    .job-detail {
      max-width: 100%;
    }
  }
  
  .job-detail-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
    margin-top: 0.75rem;
    margin-left: 0px;
    width: 100%;
  }
  
  @media not all and (min-width: 768px) {
    .job-detail-section {
      max-width: 100%;
    }
  }
  
  .job-detail-item {
    justify-content: center;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-top: 1.75rem;
    background-color: rgb(0 0 0);
    border-width: 1px;
    border-color: rgb(0 0 0);
    border-style: solid;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    backdrop-filter: blur(2px);
    color: rgb(255 255 255 / 0.5);
  }
  
  .job-detail-label {
    color: rgb(255 255 255);
  }
  
  .job-description {
    justify-content: center;
    align-self: stretch;
    padding-top: 0.25rem;
    padding-bottom: 0.875rem;
    margin-top: 1.75rem;
    background-color: rgb(0 0 0);
    border-width: 1px;
    border-color: rgb(0 0 0);
    border-style: solid;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    backdrop-filter: blur(2px);
  }
  
  @media not all and (min-width: 768px) {
    .job-description {
      padding-right: 1.25rem;
      max-width: 100%;
    }
  }
  
  .job-description-label {
    color: rgb(255 255 255);
  }
  
  .job-description-text {
    color: rgb(163 163 163);
  }
  
  .job-detail-link {
    justify-content: center;
    align-self: center;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    margin-top: 9rem;
    margin-left: 0px;
    text-decoration-line: underline;
    background-color: rgb(0 0 0);
    border-width: 1px;
    border-color: rgb(0 0 0);
    border-style: solid;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    backdrop-filter: blur(2px);
  }
  
  @media not all and (min-width: 768px) {
    .job-detail-link {
      margin-top: 2.5rem;
      max-width: 100%;
    }
  }
  
  .job-detail-link-url {
    color: rgb(255 255 255);
    text-decoration-line: underline;
  }

  .relevance-score-button {
    padding: 0.5rem 1rem;
    border-radius: 20px; 
    border: 2px solid rgb(12, 11, 11); 
    background-color: rgb(255 255 255 / 0.5);
    color: rgb(0, 0, 0); 
    cursor: pointer;
    font-family: Arial, sans-serif; 
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    text-decoration: none;
    position: absolute;
    top: 2rem;
    right: 2rem;
    transition: background-color 0.2s ease;
  }

  .relevance-score-button:hover {
    background-color: rgb(74 222 128); 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1); 
  }