body {
  font-family: sans-serif;
  text-align: center;
  /* Added styles for vertical alignment */
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* Ensures viewport height */
}

button {
  margin: 20px;
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}

#pieChart {
  width: 400px;
  height: 400px;
}
 